@font-face{font-family:'Arimo';font-style:normal;font-weight:700;src:url(Arimo-700.woff2) format('woff2')}
@font-face{font-family:'Cousine';font-style:normal;font-weight:400;src:url(Cousine-400.woff2) format('woff2')}
